@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&family=Prosto+One&display=swap');
*{
  font-family: "Prosto One", sans-serif;
  padding: 0%;
  margin: 0%;
}
.formcontainer{
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(115, 223, 235, 0.24);
  gap: 1rem;
  .brand{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    img{
      height: 5rem;
    }
  }
  form{
    margin: 10dvh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 3rem;
    background-color: rgba(32, 206, 194, 0.271);
    border-radius: 1rem;
    input{
      font-size: medium;
      
      padding:0.7rem;
      text-indent: 1rem;
      border-radius: 1dvh;
      background-color: transparent;
      width: 95%;
      border: 0.1rem groove rgb(25, 11, 221);
      &:hover{    
        border: 0.15rem groove rgb(83, 73, 233);
        outline: none;
      }
    }
    button{
      background-color: rgb(26, 221, 214);
      padding: 1rem 1.5rem;
      width: 105%;
      border-radius: 0.3cm;
      cursor: pointer;
      font-weight: bold;
      font-size: 1rem;
      &:hover{
        background-color: rgb(24, 174, 169);
        transition: ease-in-out 500ms;
      }
    }
    span{
      .a{
        font-weight: bold;
        &:hover{
          color: brown;
        }
      }
    }
  }
  
}